@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "header";

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #fff59d;
}
